@model PizzaSite.ViewModels.OrderIndexData

@{
    ViewBag.Title = "Details";
}

<h2>Your Order</h2>

<div>
    <hr />
    <div class="table-responsive">
        <table class="table-striped">
            <tr>
                <th>
                    Your Name
                </th>
                <th colspan="2">
                    Your Address
                </th>
                <th>
                    Delivery or Pickup
                </th>
                <th>
                    Your Total
                </th>
                <th>
                    Ready in
                </th>
            </tr>

            @foreach (var item in Model.Orders)
            {
                string selectedRow = "";
                if (item.OrderID == ViewBag.OrderID)
                {
                    selectedRow = "success";
                }
                <tr class="@selectedRow">
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientFirstName)  @Html.DisplayFor(modelItem => item.ClientLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StreetNumber) @Html.DisplayFor(modelItem => item.StreetName) @Html.DisplayFor(modelItem => item.Zip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Building) @Html.DisplayFor(modelItem => item.AptNumber)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Delivery.TypeOfDelivery)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FinalTotal)
                    </td>
                    <td>
                        Your Pizza Will be ready in @Html.DisplayFor(modelItem => item.TimeToWait) minutes
                    </td>
                </tr>
            }
        </table>
        </div>
        @if (Model.Pizzas != null)
        {

            <h3>Pizzas</h3>
            <p>
                @Html.ActionLink("Create a Pizza!", "../Pizza/Create")
            </p>
            <div class="table-responsive">
            <table class="table-striped">
                <tr>
                    <th>Size</th>
                    <th>Price of Pizza</th>
                    <th>Number Ordered</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Pizzas)
                {
                    string selectedRow = "";
                    if (item.PizzaID == ViewBag.PizzaID)
                    {
                        selectedRow = "success";
                    }

                    <tr class="@selectedRow">

                        <td>
                            @Html.DisplayFor(modelItem => item.Size.SizeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PizzaPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumOrdered)
                        </td>
                        <td>
                            @Html.ActionLink("Toppings", "Details", new { pizzaID = item.PizzaID }) |  @Html.ActionLink("Delete", "../Pizza/Delete", new { id = item.PizzaID })
                        </td>
                    </tr>
                }
            </table>
                </div>
        }
        @if (Model.Toppings != null)
        {

            <h3>Pizza Toppings</h3>
            <ul>
          

                @foreach (var item in Model.Toppings)
                {

                    <li>
                            @Html.Display(item.ToppingName)
                      </li>
                }
           </ul>
        }

    </div>
<p>
    <a class="btn btn-default" href="../../Home/About"> Submit Your Order!</a>
</p>
