<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Order a pizza from Pizza Place">
    <meta name="keywords" content="Pizza, Place, Order, Toppings, Buy, Now, Client, Name, submit">
    <meta name="author" content="Sarah Jastrzab">
    <title>@ViewBag.Title - Pizza Place</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
               

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Pizza Place", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink( "Order Now","../Order/Create", "Order")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <img class="img-responsive" src="@Url.Content("~/Controllers/images/banner_pizza03.jpg")" />
    <div class="container body-content">
            @RenderBody()
            <hr />
        </div>
            <footer>
                <p>&copy; @DateTime.Now.Year - Pizza Place</p>
            </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
