@model PizzaSite.Models.Size

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Size</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SizeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diameter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diameter)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SizeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
